body {
  font-family:  sans-serif;
}


header h1{
    text-align: center;
    font-size: xx-large; 
    color: red;
}

header nav a {
  margin-left: 12px;
  font-size: medium;
}

nav p{
  text-align: center;
  float: left;
}


#purple-h2 {
  color: blueviolet;
  margin-left: 46%;
}

  
